<!DOCTYPE html>
<html>
<head>
  <title>PmTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to("Home", home_path, {class: "abc"}) %>
  |
  <%= link_to "About", about_us_path({a: 'hello', b: 123}) %>
<hr>

<%= yield %>

</body>
</html>
